@using HR_SYSTEM_V1.Constants;
<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Hr-system</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/ico/apple-icon-60.html">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/ico/apple-icon-76.html">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/ico/apple-icon-120.html">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/ico/apple-icon-152.html">
    <link rel="shortcut icon" type="image/png" href="~/img/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/app.css">
</head>
<body>

    <div class="wrapper">

      <partial name="_NavBar"></partial>

      <partial name="_Sidebar"></partial>

      <div class="main-panel">
        <div class="main-content">
          <div class="content-wrapper px-4">
            <div class="container-fluid">
                <!-- Zero configuration table -->
                
                @RenderBody()

                <footer class="footer footer-static footer-light px-1">
                   <p class="clearfix text-muted text-center"><span>Copyright  &copy; 2021 <a href="#" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">Pioneer solutions </a>, All rights reserved. </span></p>
                </footer>
            </div>
          </div>
        </div>
      </div>
    </div>


    <partial name="_NotifcationSidebar"></partial>

    <!-------------------------------------------------------------------------------------------------------------------------------------->
    
    <!-- BEGIN VENDOR JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/vendors/js/core/popper.min.js"></script>
    <script src="~/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/vendors/js/prism.min.js"></script>
    <script src="~/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/vendors/js/screenfull.min.js"></script>
    <script src="~/vendors/js/pace/pace.min.js"></script>
    <script src="~/vendors/js/chartist.min.js"></script>
    <script src="~/js/app-sidebar.js"></script>
    <script src="~/js/notification-sidebar.js"></script>
    <script src="~/js/customizer.js"></script>
    <script src="~/js/dashboard-ecommerce.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/dist/sweetalert2.all.min.js"></script>
    <script src="~/dist/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
