
@using permissions.View_Model
@model List<AddRoleViewModel>

@{
    SelectList roles = new SelectList(Model, "name", "name");
}

@{
    ViewData["Title"] = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="configuration">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Add user </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form form-horizontal" asp-action="NewUser" method="post">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput1">User Name : </label>
                                    <div class="col-md-9">
                                        <input type="text" name="userName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput1">Password: </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput7">Group Name : </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="role" asp-items="roles"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn btn-danger mr-1">
                                    <i class="icon-trash"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-success">
                                    <i class="icon-note"></i> Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
